<header appKeyboardNav>
  <nav class="md:flex gap-5 my-2 uppercase text-white/90 text-sm">

    <a routerLink="/" class="brand aurora-text" appSpeak="Learnable Home">Learnable</a>

    @if (accountService.currentUser()) {

      <ul class="nav-links">
        <li><a routerLink="/dashboad" routerLinkActive="active" appSpeak="Dashboard">Dashboard</a></li>
        <li><a routerLink="/notification" routerLinkActive="active" appSpeak="Notifications">Notifications</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>

    } @else {

      <ul class="nav-links">
        <li><a routerLink="/" routerLinkActive="active"  appSpeak=" Home">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active"  appSpeak=" About">About</a></li>
        <li><a routerLink="/features" routerLinkActive="active" appSpeak="Features">Features</a></li>
        <li><a routerLink="/testimonials" routerLinkActive="active" appSpeak="Testimonials">Testimonials</a></li>
      </ul>

    }

    <button id="mobile-menu-toggle" aria-label="Toggle mobile menu" appSpeak="Toggle Mobile Menu">
      <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecapzz="round" stroke-linejoin="round" stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"/>
      </svg>
    </button>
    
  </nav>

  <!-- MOBILE MENU -->
  <div id="mobile-menu">
    @if (accountService.currentUser()) {
      <a routerLink="/dashboad" appSpeak="Dashboard">Dashboard</a>
      <a routerLink="/notification" appSpeak="Notifications">Notifications</a>
      <a (click)="logout()" appSpeak="Logout">Logout</a>
    } @else {
      <a routerLink="/" routerLinkActive="active"  appSpeak=" Home">Home</a>
      <a routerLink="/about" appSpeak=" About">About</a>
      <a routerLink="/features" appSpeak=" Features">Features</a>
      <a routerLink="/testimonials" appSpeak=" Testimonials">Testimonials</a>
    }
  </div>
</header>
